
  
<div class="container">

  <div class="card" *ngIf="ProductDetails[0] !=undefined" style="margin-top:25px;">
    <div class="card-header" style="display: flex;">
      <span class="details-title">{{ProductDetails[0].ProductGroup_Title }}</span>
     <h5>{{ProductDetails[0].Name}}</h5>
      
      
      
    </div>
    <div class="card-body row">
      
      <!--تصاویر-->
      <div class="col-md-5" style="padding:0px;">


        <div class="col-md-12 " style="padding:0px;height:400px;">
        
        


          <!-- <figure *ngIf="!ProductDetails[0].Image_Url.includes('.mp4')" [ngStyle]="{'background-image':  'url('+them.configUrlBasicImage+ProductDetails[0].Image_Url+')'}" class='zoom1' id="zoom1" (mousemove)='zoom($event)'>
            <img src="{{them.configUrlBasicImage}}{{ProductDetails[0].Image_Url}}" />
          </figure>  -->
         
          <app-image-gallery [src]="them.configUrlBasicImage+ProductDetails[0].Image_Url" [alt]="ProductDetails[0].Name"></app-image-gallery>

          <video controls *ngIf="ProductDetails[0].Image_Url.toLowerCase().includes('.mp4')" class="video-details" poster="{{ProductDetails[0].DefaultImageVideo}}">
            <source src="{{them.configUrlBasicImage}}{{ProductDetails[0].Image_Url}}" type="video/mp4">
          </video>
        </div>
        <div class="col-md-12" style="padding:0px;">
          <div class="row" style="border: solid; border-width: thin; border-color:#999999;">
            
              <img *ngFor="let img of ProductDetails[0].ProductImage" [src]="!img.Image_Url.toLowerCase().includes('.mp4') ? them.configUrlBasicImage+img.Image_Url : ProductDetails[0].DefaultImageVideo"  alt="{{img.Description}}" (click)="ProductDetails[0].Image_Url=img.Image_Url" style="width:50px;height:50px;padding:5px;">
           
              

          </div>
        </div>

      </div>
      <!--ویژگی ها-->
      <div class="col-md-5">
        <h6 class="desc">{{'Specification' | translate}}</h6>
        <ul class="pr_detail">
          <li *ngFor="let row of ProductDetails[0].ProductDetails">
            <label class="text-dark" style="width:140px;">
              {{row.GroupTypeName }} :
            </label>
            <strong>
              {{row.Title }}
            </strong>
          </li>
          <li *ngIf="ProductDetails[0].BarCode!=null">
            <label class="text-danger" style="width:140px;">
              {{'BarCode' | translate}} :
            </label>
            <strong>
              {{ProductDetails[0].BarCode}}
            </strong>
          </li>
        </ul>


        <h6 class="desc">{{'Panel.Description' | translate}}</h6>
        
        <p class="description-detail">
          {{ProductDetails[0].ProductDescription}}
        </p>
        
      </div>
      <!--قیمت-->
      <div class="col-md-2 price-div">
        <div class="row">
          <div class="col-md-12" style="padding-bottom:20px">
            
            <h5 class="price-text-color " [ngClass]="{'discountPrice':ProductDetails[0].DiscountPrice>0}">{{ProductDetails[0].PriceSales | number:'4.0-0'}}  {{ProductDetails[0].CourrencyName}}</h5>
            <h5 class="price-text-color " *ngIf="ProductDetails[0].DiscountPrice>0">{{ProductDetails[0].PriceSales-ProductDetails[0].DiscountPrice | number:'4.0-0'}}  {{ProductDetails[0].CourrencyName}}</h5>
            <p class="vc " *ngIf="ProductDetails[0].DiscountPrice>0">{{'Discount' | translate}} %{{ProductDetails[0].OffPercent}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="rating">

              <i class="price-text-color fa fa-star " *ngIf="ProductDetails[0].Grad>=1"></i>
              <i class="price-text-color fa fa-star " *ngIf="ProductDetails[0].Grad>=2"></i>
              <i class="price-text-color fa fa-star " *ngIf="ProductDetails[0].Grad>=3"></i>
              <i class="price-text-color fa fa-star " *ngIf="ProductDetails[0].Grad>=4"></i>
              <i class="price-text-color fa fa-star " *ngIf="ProductDetails[0].Grad>=5"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center product-datils-price">
            <span  style="color:#c5bfbf;"><i class="fa fa-eye">  </i> {{ProductDetails[0].VisitedCount}}</span>
            <span  style="color:#c5bfbf; padding: 5px;"><i class="fa fa-thumbs-up">  </i> {{ProductDetails[0].Grad}}</span>
            <span  style="color:#c5bfbf; padding: 5px;"><i class="fa fa-thumbs-down">  </i> 0</span>
            <br/>
            <button class="btn_offer" [ngStyle]="{'color': them.ButtonFontColor,'background-color':them.ButtonColor}" (click)="onSelectProductOrder(ProductDetails[0].ID, ProductDetails[0].ProductGroupID ,ProductDetails[0].ProductGroup_Title,11)" *ngIf="ProductDetails[0].IsAvailable===true"><i class="fa fa-plus"></i> {{'Add' | translate}}</button>
            <button class="btn_offer" disabled="disabled" [ngStyle]="{'color': them.ButtonFontColor,'background-color':them.ButtonColor}" *ngIf="ProductDetails[0].IsAvailable===false"> {{'NotAvailable' | translate}}</button>


            <button class="btn_price" [ngStyle]="{'color': them.PriceFontColor,'background-color':them.PriceColor}" style="margin-top:10px;" (click)="onSelectProductOrder(ProductDetails[0].ID, ProductDetails[0].ProductGroupID ,ProductDetails[0].ProductGroup_Title,0)"> <i class="fa fa-arrow-circle-right"></i> {{'BackToList' | translate}} </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 
<!--محصولات مشابه-->
<div *ngIf="productService.ProductSearch.length>0">
  <div class="center m-4 ">
    <h4 class="text-center ">{{'SameProduct' | translate}}</h4>
    <hr />
  </div>
<app-product-list-small [products]="productService.ProductSearch" [IsHomePage]="false"  ></app-product-list-small>
</div>
<!--نظر کاربران-->
  <div class="card">
    <h5 class="card-header"><i class="fa fa-comment" aria-hidden="true"></i>  {{'UserComments' | translate}}</h5>
    <nav class="m-3">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-insert-comment-tab" data-toggle="tab" href="#insert-comment" role="tab" aria-controls="nav-home" aria-selected="true">{{'SubmitAComment' | translate}}</a>
        <a class="nav-item nav-link" id="nav-view-tab" data-toggle="tab" href="#view-comment" role="tab" aria-controls="nav-profile" aria-selected="false">{{'OtherUsersComments' | translate}}</a>

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="insert-comment" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-body">



          <form [formGroup]="UserComment">



            <div class="form-group row">
              <label for="staticFullName" class="col-sm-2 col-form-label">{{'FullName' | translate}}</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="staticFullName" placeholder="" formControlName="FullName" />

              </div>
            </div>
            <div class="form-group row">
              <label for="Description" class="col-sm-2 col-form-label"> {{'Panel.Description' | translate}}  <samp style="font-size:11px">({{'Panel.required' | translate}})</samp></label>
              <div class="col-sm-10">
                <textarea class="form-control" id="Description" placeholder="{{'Panel.Description' | translate}}" formControlName="Description" maxlength="500"></textarea>
                <samp *ngIf="isSubmittedComment && formControlsUserComment.Description.errors" class="error-red">{{'Panel.required' | translate}}</samp>
              </div>
            </div>


            <span style="float:left; padding-bottom:10px;">
              <button class="btn_price" [ngStyle]="{'color': them.PriceFontColor,'background-color':them.PriceColor}" (click)="SaveUserComment()">{{'Submit' | translate}}</button>
            </span>

          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="view-comment" role="tabpanel" aria-labelledby="nav-profile-tab">

        <div class="panel-body">

          <ul class="media-list m-3">
            <li class="media" *ngFor="let item of productService.ProductUserComment">

              <img src="https://bootdey.com/img/Content/user_1.jpg">

              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">{{item.Date_Shamsi}}</small>
                </span>
                <strong class="text-success">{{item.FullName}}</strong>
                <p>
                  {{item.Description}}
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>


  </div>

  <div>
    <p class="description-detail" *ngIf="ProductDetails[0] !=undefined">
      {{ProductDetails[0].InstagramTag}}
    </p>
  </div>
</div>
