<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>اتمام عملیات پرداخت</title>
</head>
<body>

    <h1>بازگشت از صفحه پرداخت بانک</h1>
    <a href="http://www.farshdastani.ir">ورود به سایت</a>

</body>
</html>
