<!-- Trigger the Modal -->
<style>
  .image {
    display: block;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width:100%;
  }
</style>
<!--style="width:100%;max-width:300px;overflow: hidden;"-->
<div class="image">
  <img id="myImg" [src]="src" class="image-list"
       [alt]="alt"
       (click)="onclick(src,alt)">
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" (click)="ondblclick()">&times;</span>

  <!-- Modal Content (The Image) -->
  <div style="display:flex">
    <div style="width:10%;">
      <b class="fa fa-chevron-right next" aria-hidden="true">derer</b>
      <span class="close" >&times;</span>
    </div>
    <img class="modal-content" id="img01">

    <div style="width:10%">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
  </div>
  


  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>



