
<div class="row background-fff" [ngClass]="{'open':!them.modal_open_new,'close':them.modal_open_new}">
  <div class="col-md-12 ">
    <!--Advance Search---------------------------------------------------------------[@visibilityChanged]="them.AdvanceSearch"!-->
    <fieldset class="panel" [ngClass]="{'open':them.AdvanceSearch,'close':!them.AdvanceSearch}">
      <legend>{{'Panel.Advancedsearch' | translate}}</legend>

      <form [formGroup]="SearchForm">
        <div class="row">
          <div class="col-md-4 form-group">
            <label>
              {{'Panel.BarCode' | translate}}
            </label>
            <input type="text" class="form-control" placeholder="{{'Panel.BarCode' | translate}}" name="BarCode" formControlName="BarCode" />
          </div>
          <div class="col-md-4 form-group">
            <label>
              {{'Panel.Name' | translate}}
            </label>
            <input type="text" class="form-control" placeholder="{{'Panel.Name' | translate}}" name="Name" formControlName="Name" />
          </div>
          <div class="col-md-4 form-group">
            <label>
              {{'Panel.Specification' | translate}}
            </label>
            <input type="text" class="form-control" placeholder="{{'Panel.Specification' | translate}}" name="BarCode" formControlName="Specification" />
          </div>
          <div class="col-md-3 form-group">

            <label>{{'Panel.IsAvailable' | translate}}</label>
            <select name="IsAvailable" formControlName="IsAvailable" class="form-control">
              <option value="">{{'Panel.Select' |translate}}</option>
              <option value="true">{{'Panel.Yes' |translate}}</option>
              <option value="false">{{'Panel.No' |translate}}</option>
              
            </select>
            
          </div>
          <div class="col-md-3 form-group">
            <label>{{'Panel.ViewSales' | translate}}</label>
            <select name="Acive" formControlName="Acive" class="form-control">
              <option value="">{{'Panel.Select' |translate}}</option>
              <option value="true">{{'Panel.Yes' |translate}}</option>
              <option value="false">{{'Panel.No' |translate}}</option>
              
            </select>
           
          </div>
          <div class="col-md-3 form-group">

            <label>{{'Panel.IsViewInstagram' | translate}}</label>
            <select name="IsViewInstagram" formControlName="IsViewInstagram" class="form-control">
              <option value="">{{'Panel.Select' |translate}}</option>
              <option value="true">{{'Panel.Yes' |translate}}</option>
              <option value="false">{{'Panel.No' |translate}}</option>
              
            </select>
            
          </div>
          <div class="col-md-3 form-group">
            <label>{{'Panel.IsViewTelegram' | translate}}</label>
            <select name="IsViewTelegram" formControlName="IsViewTelegram" class="form-control">
              <option value="">{{'Panel.Select' |translate}}</option>
              <option value="true">{{'Panel.Yes' |translate}}</option>
              <option value="false">{{'Panel.No' |translate}}</option>
              
            </select>
            
          </div>
          <div class="col-md-3 form-group">
            <label>{{'Panel.IsSendInstagram' | translate}}</label>
            <select name="IsSendInstagram" formControlName="IsSendInstagram" class="form-control">
              <option value="">{{'Panel.Select' |translate}}</option>
              <option value="true">{{'Panel.Yes' |translate}}</option>
              <option value="false">{{'Panel.No' |translate}}</option>
              
            </select>

          </div>
          <div class="col-md-3 form-group">

            <label>{{'Panel.IsSendTelegram' | translate}}</label>
            <select name="IsSendTelegram" formControlName="IsSendTelegram" class="form-control">
              <option value="">{{'Panel.Select' |translate}}</option>
              <option value="true">{{'Panel.Yes' |translate}}</option>
              <option value="false">{{'Panel.No' |translate}}</option>
              
            </select>
            
          </div>
          <div class="col-md-3 form-group">
            <label>{{'Panel.IsSpecialSales' | translate}}</label>
            

              <select name="IsSpecialSales" formControlName="IsSpecialSales" class="form-control">
                <option value="">{{'Panel.Select' |translate}}</option>
                <option value="true">{{'Panel.Yes' |translate}}</option>
                <option value="false">{{'Panel.No' |translate}}</option>
                
              </select>
              
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <hr />
            <button class="btn btn-dark marg-right" (click)="questioner()" id="btn-Search"><i class="fa fa-search"></i>  {{'Panel.Search' | translate}}</button>

            <button class="btn btn-dark marg-right" (click)="them.onResetPage(SearchForm)"><i class="fa fa-pencil-ruler" aria-hidden="true"></i> {{'Panel.ResetPage' | translate}}</button>
            <button class="btn btn-dark marg-right" (click)="them.AdvanceSearch=!them.AdvanceSearch"><i class="fa fa-times"></i> {{'Panel.close' | translate}}</button>
          </div>
        </div>

      </form>
    </fieldset>
    <div class="row">
      <div class="col-md-12">
        <h5 class="modal-title">
          {{'Menu.Products' | translate}} {{them.ProductGroupName}}
        </h5>

        <hr />
      </div>

    </div>

    <div class="row" >
      <div class="col-md-6">
        <button class="btn btn-light marg-right" (click)="OpenNew()" ngbTooltip="{{'Panel.New' | translate}}"><i class="fa fa-plus-square"></i></button>
        <button class="btn btn-light marg-right" (click)="them.AdvanceSearch=!them.AdvanceSearch" ngbTooltip="{{'Panel.Advancedsearch' | translate}}"><i class="fa fa-search-plus"></i></button>
        <button class="btn btn-light marg-right" (click)="onSendInstagarm()" ngbTooltip="{{'Panel.IsSendInstagram' | translate}}"><i class="far fa-instagram"></i>  {{'Panel.IsSendInstagram' | translate}}</button>
        <button class="btn btn-light marg-right" (click)="onSendTelegram()" ngbTooltip="{{'Panel.IsSendTelegram' | translate}}"><i class="far fa-telegram"></i>  {{'Panel.IsSendTelegram' | translate}}</button>
      </div>
      <div class="col-md-2 text-center">
        <span class="ml-3" *ngIf="service.loading$ | async">{{'Panel.Searching' | translate}}</span>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-search"></i></span>
          </div>
          <input class="form-control" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
        </div>
      </div>
    </div>
    <!--Table-------------------------------------------------------------------------->

    <div class="row list-table" *ngFor="let item of service.List$ | async" [ngClass]="{'select-row': them.selectedRowID === item.ID && them.selectRow===true}">

      <div class="col-md-2">
       
        <a  style="padding:0px;margin:0px;" (click)="openImageGallery(item.ID)" ngbTooltip="{{'Panel.AddImageGallery' | translate}}" id="AddImageGallery">
          <img *ngIf="!item.ImageUrl.includes('.mp4')" src="{{configUrlBasicImage}}{{item.ImageUrl}}" style="width:120px;height:120px;padding:0px;margin:0px;" />
          <video controls *ngIf="item.ImageUrl.includes('.mp4')" style="width:120px;height:120px;padding:0px;margin:0px;">
            <source src="{{configUrlBasicImage}}{{item.ImageUrl}}" type="video/mp4">
          </video>
        
        </a>
        <br/>
        <button class="btn text-success" (click)="EditOpen(item.ID)" ngbTooltip="{{'Panel.Edit' | translate}}" id="EditProduct"><i class="fa fa-edit"></i></button>
        <button class="btn text-danger" (click)="them.DeleteRowConfirm(item.ID)" ngbTooltip="{{'Panel.Delete' | translate}}" id="DeletProduct"><i class="fa fa-trash"></i></button>
        
        <label>
          {{item.BarCode}}
        </label>
      </div>
      
      <div class="col-md-2">
        <ngb-highlight [result]="item.Name" [term]="service.searchTerm"></ngb-highlight>
        <br />
        <p class="hiden">
        <ngb-highlight [result]="item.SumerySpecification" [term]="service.searchTerm"></ngb-highlight>
        </p>
      </div>
      
      <div class="col-md-2">
        <span class="float-left text-info">{{item.PriceSales| number:'4.0-0'}} {{them.DefaultCurrency}}</span>
        <div class="input-group">
          
        <input class="form-control" type="text" [(ngModel)]="item.PriceSales" id="price{{item.ID}}" />
        <div class="input-group-prepend">
          <a class="input-group-text" (click)="onEditPrice(item.PriceSales,item.ID)" style="cursor:pointer" ngbTooltip="{{'Panel.Edit' | translate}}"> <i class="fa fa-edit"></i></a>
        </div>
      </div>
        <p>
        <ngb-highlight [result]="item.OffPercent" [term]="service.searchTerm"></ngb-highlight><span *ngIf="item.OffPercent>0"> %</span>
        </p>
        <p class="hiden">
          {{'Panel.TransportationPrice' | translate}} : <ngb-highlight [result]="item.CompanyTransportationTitle" [term]="service.searchTerm"></ngb-highlight>
        </p>
      </div>
      <div class="col-md-2">
        <p>
          <i [ngClass]="{'text-success ' : item.IsAvailable ,'text-light':!item.IsAvailable}" class="fa fa-check-circle"></i><span style="font-size:12px"> {{'Panel.IsAvailable' | translate}}</span>

        </p>
        <p>
          <i [ngClass]="{'text-success' : item.IsSpecialSales ,'text-light':!item.IsSpecialSales}" class="fa fa-check-circle"></i><span style="font-size:12px"> {{'Panel.IsSpecialSales' | translate}}</span>

        </p>
        <p >
          <i [ngClass]="{'text-success' : item.Acive ,'text-light':!item.Acive}" class="fa fa-check-circle"></i> <span style="font-size:12px">{{'Panel.ViewSales' | translate}}</span>

        </p>
      </div>
      <div class="col-md-2">
        <p >
          <i [ngClass]="{'text-success' : item.IsViewInstagram ,'text-light':!item.IsViewInstagram}" class="fa fa-check-circle"></i> <span style="font-size:12px"> {{'Panel.IsViewInstagram' | translate}}</span>

        </p>
        <p >
          <i [ngClass]="{'text-success' : item.IsViewTelegram ,'text-light':!item.IsViewTelegram}" class="fa fa-check-circle"></i> <span style="font-size:12px"> {{'Panel.IsViewTelegram' | translate}}</span>

        </p>
      </div>
      <div class="col-md-2">
        <p>
          <i [ngClass]="{'text-success' : item.IsSendInstagram ,'text-light':!item.IsSendInstagram}" class="fa fa-check-circle"></i> <span style="font-size:12px"> {{'Panel.IsSendInstagram' | translate}}</span>

        </p>
        <p>
          <i [ngClass]="{'text-success' : item.IsSendTelegram ,'text-light':!item.IsSendTelegram}" class="fa fa-check-circle"></i> <span style="font-size:12px"> {{'Panel.IsSendTelegram' | translate}}</span>

        </p>
        <br />
        <span class="hiden"><i class="fa fa-eye"></i> {{'Panel.LastVisits' | translate}} : </span><span>{{item.VisitedCount}}</span> 

      </div>

    </div>
    <!--pagination-------------------------------------------------------------------->
    
    <div class="row m-3">
      <div class="col-md-9 ">
        <div class="d-flex justify-content-between">
          <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
          </ngb-pagination>


        </div>

      </div>
      <div class="col-md-3">
        <select class="custom-select" [(ngModel)]="service.pageSize" name="pageSize">
          <option *ngFor="let item of them.PagSizeInvaite" [ngValue]="item">{{item}} {{'Panel.RowsOnEachpage' | translate}}</option>
        </select>
      </div>
    </div>

  </div>
</div>
<!--New && Edit-->

<div [ngClass]="{'open':them.modal_open_new,'close':!them.modal_open_new}" style="margin-bottom:20px;">


  <div class="card">

    <div class="modal-title">
      <div class="header-left">
        <button (click)="oClose()" class="btn btn-modal-title" ngbTooltip="{{'Panel.close' | translate}}"><i class="fa fa-times"> </i></button>
      </div>

      <span>
        {{'Menu.Products' | translate}} {{them.ProductGroupName}}
      </span>
    </div>


    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-4 form-group">
            <label>{{'Panel.Name' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="ProductInsert.Name" [ngModelOptions]="{standalone: true}" />

          </div>
          <!--<div class="col-md-4 form-group" id="PriceBuy">
            <label>{{'Panel.PriceBuy' | translate}}</label><span class="float-left text-info" >{{ProductInsert.PriceBuy| number:'4.0-0'}} تومان</span>
            <input type="text" class="form-control" [(ngModel)]="ProductInsert.PriceBuy" [ngModelOptions]="{standalone: true}" />

          </div>-->
          <div class="col-md-4 form-group">
            <label>{{'Panel.PriceSales' | translate}}</label><span class="float-left text-info">{{ProductInsert.PriceSales| number:'4.0-0'}} تومان</span>
            <input type="number" class="form-control" [(ngModel)]="ProductInsert.PriceSales" [ngModelOptions]="{standalone: true}" />

          </div>
         
          <div class="col-md-4 form-group" id="AvailableCount">
            <label>{{'Panel.AvailableCount' | translate}}</label>
            <input type="number" class="form-control" [(ngModel)]="ProductInsert.AvailableCount" [ngModelOptions]="{standalone: true}" />

          </div>

          
          
          <div class="col-md-4 form-group">
            <br />
            <br />
            <label class="checkbox-lable">
              <input type="checkbox" [(ngModel)]="ProductInsert.IsSpecialSales" [ngModelOptions]="{standalone: true}" />
              <span class="checkmark"></span>
            </label><label>{{'Panel.IsSpecialSales' | translate}}</label>
          </div>
          <div class="col-md-4 form-group">

            <label>
              {{'Panel.FromDateSpecialSales' | translate}}
            </label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     ngbDatepicker #from="ngbDatepicker" autocomplete="off" [(ngModel)]="ProductInsert.FromDateSpecialSales" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar m-0" (click)="from.toggle()" type="button"><i class="fa fa-calendar"></i></button>
              </div>
            </div>

          </div>
          <div class="col-md-4 form-group">
            <label>
              {{'Panel.ToDateSpecialSales' | translate}}
            </label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     ngbDatepicker #to="ngbDatepicker" autocomplete="off" [(ngModel)]="ProductInsert.ToDateSpecialSales" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar m-0" (click)="to.toggle()" type="button"><i class="fa fa-calendar"></i></button>
              </div>
            </div>

          </div>
          
          <div class="col-md-4 form-group">
            <label>{{'Panel.BarCode' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="ProductInsert.BarCode" [ngModelOptions]="{standalone: true}" />

          </div>
          <div class="col-md-4 form-group">
            <label>{{'Panel.TransportationPrice' | translate}}</label>
            <select name="TransportationCalculateID"  class="form-control" [(ngModel)]="ProductInsert.TransportationID" [ngModelOptions]="{standalone: true}">
              <option value="-1">{{'Panel.Select' | translate}}</option>
              <option *ngFor="let option of service.CompanyTransportation" [value]="option.ID">{{option.Title}}</option>
  
            </select>
          </div>
          
          <div class="col-md-4 form-group">
            <div class="row">
              <div class="col-md-6">
                <br />
                <br />
                <label class="checkbox-lable">
                  <input type="checkbox" [(ngModel)]="ProductInsert.IsOffPercent" [ngModelOptions]="{standalone: true}" />
                  <span class="checkmark"></span>
                </label><label>{{'Panel.IsOffPercent' | translate}}</label>
              </div>
              <div class="col-md-6" *ngIf="ProductInsert.IsOffPercent==true">
                <label>{{'Panel.OffPercent' | translate}}</label>
                <input type="number" class="form-control" maxlength="2" [(ngModel)]="ProductInsert.OffPercent" [ngModelOptions]="{standalone: true}" />
              </div>

            </div>
            

          </div>
        </div>

        <div class="row">


          
          
          <div *ngFor="let item of  details" class="form-group col-md-4" >
            <label>{{ item.ParamName }}</label>

           
            
            <ng-template #popContent let-greeting="greeting">
             
                
                
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="" [(ngModel)]="item.Specification_new" [ngModelOptions]="{standalone: true}">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" (click)="SaveNewSpecification(p1,item.ParamSearch,item.Specification_new)">{{'Panel.Save' | translate}}</button>
                  </div>
              
                
              </div>
            </ng-template>
            <ng-template #popTitle let-language="language">{{'Panel.NewFeature' | translate}} ({{Title}})</ng-template>

            

            <div class="input-group div-span"  >
              
             
              <div class="input-group-prepend">
                  
                <button   id="{{item.ParamSearch+'input'}}" class="btn btn-outline-secondary  drowpdown-input"  (click)="onFindSpecificationclick(item.ParamSearch)" >
                  <i class="drowpdown-input fa fa-search"></i>
                </button>
                
            </div>
              <div class="form-control" style="max-height: 100%;min-height: 40px;" >
                  <span *ngFor="let span of  item.PeropertyItems" class="select-span">
                    <span (click)="RemoveItems(span.ID,item.ParamSearch)"> ✖ </span> {{span.Text}}
                  </span>
                </div>
              
              <button  class="btn btn-outline-secondary"  placement="top-left"
              [ngbPopover]="popContent" [popoverTitle]="popTitle"  [autoClose]="'outside'"
              triggers="manual" #p1="ngbPopover" (click)="toggleWithGreeting(p1, item.ParamName)"
              >+</button>
                  
                
              <!-- <input type="text" [(ngModel)]="item.Specification" class="form-control drowpdown-input" (keyup)="onFindSpecification(item.ParamSearch,item.Specification)" (click)="onFindSpecificationclick(item.ParamSearch)" [ngModelOptions]="{standalone: true}" /> -->
              
            </div>
            
            <ul class="ParamSearch" id="{{item.ParamSearch}}" style="display:none;list-style-type:none;">
              <li>
                <input type="text" placeholder="{{'Search' | translate}}" [(ngModel)]="item.Specification" class="form-control drowpdown-input" (keyup)="onFindSpecification(item.ParamSearch,item.Specification)" (click)="onFindSpecificationclick(item.ParamSearch)" [ngModelOptions]="{standalone: true}" /> 
              </li>
              <li *ngFor="let det of item.listDeatils" value="det.Title" (click)="onSelectSpecification(det.ID,det.Title,item.ParamSearch)" style="cursor:pointer; border-bottom:solid thin #ffffff ;padding:7px;">
                {{ det.Title }}
              </li>
            </ul>
          </div>



        </div>
        <div class="row">

          <div class="col-md-12 form-group">
            <label>{{'Panel.Description' | translate}}</label>
            <textarea type="text" class="form-control" [(ngModel)]="ProductInsert.Description" [ngModelOptions]="{standalone: true}" maxlength="2000"></textarea>
          </div>
          <div class="col-md-12 form-group">
            <label>{{'Panel.InstagramTag' | translate}}</label>
            <textarea type="text" class="form-control" [(ngModel)]="ProductInsert.InstagramTag" [ngModelOptions]="{standalone: true}" maxlength="400"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <div class="col-md-12 form-group">

              <label class="checkbox-lable">
                <input type="checkbox" [(ngModel)]="ProductInsert.IsAvailable" [ngModelOptions]="{standalone: true}" />
                <span class="checkmark"></span>
              </label><label>{{'Panel.IsAvailable' | translate}}</label>
            </div>
            <div class="col-md-12 form-group">

              <label class="checkbox-lable">
                <input type="checkbox" [(ngModel)]="ProductInsert.Acive" [ngModelOptions]="{standalone: true}" />
                <span class="checkmark"></span>
              </label><label>{{'Panel.ViewSales' | translate}}</label>
            </div>
            <div class="col-md-12 form-group">

              <label class="checkbox-lable">
                <input type="checkbox" [(ngModel)]="ProductInsert.IsViewInstagram" [ngModelOptions]="{standalone: true}" />
                <span class="checkmark"></span>
              </label><label>{{'Panel.IsViewInstagram' | translate}}</label>
            </div>
            <div class="col-md-12 form-group">

              <label class="checkbox-lable">
                <input type="checkbox" [(ngModel)]="ProductInsert.IsViewTelegram" [ngModelOptions]="{standalone: true}" />
                <span class="checkmark"></span>
              </label><label>{{'Panel.IsViewTelegram' | translate}}</label>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <div class="row">
            

            <div class="text-center col-md-4">

              <input type="hidden" [(ngModel)]="ProductInsert.ImageUrl" [ngModelOptions]="{standalone: true}" />
              <label class="fileContainer" style="margin-top:28px;">
                <i class="fa fa-file-upload"></i>
                {{'Panel.SelectFile' | translate}}
                <input type="file" class="fileContainer-input" (change)="fileChangeEvent($event,$event.target.files)" />
              </label>
  
             
              <img  *ngIf="!ImageInsert.includes('.mp4')" src="{{ImageInsert}}" style="vertical-align:unset;width:150px;height:150px; margin-right:10px; margin-left:10px;" />
  
              <video controls *ngIf="ImageInsert.includes('.mp4')" style="vertical-align:unset;width:150px;height:150px; margin-right:10px; margin-left:10px;">
                <source src="{{ImageUpdate}}" type="video/mp4">
              </video>
              <img src="../../../../assets/image/productSize.jpg" />
            </div>
            <div class="text-center col-md-8">
              <div class="row">
                <div class="col-md-8">
              <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="3 / 2"
              format="jpg"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
        <div class="col-md-4">
          
          <button type="submit" class="btn btn-outline-info marg-right" (click)="fileProgressInsert()" *ngIf="fileData!=null"><i class="fa fa-save"></i>  {{'Panel.ConfirmImage' | translate}}</button>
          <br />
          <br />
          <img *ngIf="croppedImage!=null" [src]="croppedImage" width="200" height="200" />
         
        </div>
        </div>
            </div>
          </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <hr />
            <button type="submit" class="btn btn-dark marg-right" (click)="onInsert()"><i class="fa fa-save"></i>  {{'Panel.Save' | translate}}</button>
            <button  class="btn btn-dark marg-right" (click)="oClose()"><i class="fa fa-times"> </i>  {{'Panel.close' | translate}}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<!--Modal_Delete-------------------------------------------------------------->
<div [ngClass]="{'open':them.modal_open_delete,'close':!them.modal_open_delete}">

  <div class="modal-backdrop">
    <div class="open-modal-delete">

      <div class="alert alert-info">

        <span style="text-align:center;">{{'Panel.Delete' | translate}}</span>
      </div>
      <div class="body-modal">
        <h5>

          {{'Panel.Suredelete?' | translate}} ({{them.selectedRowID}})

        </h5>
        <div class="row text-lg-center">
          <div class="col-md-6">
            <button class="btn btn-danger btn-sm btn-block" (click)="ConfirmDeleteResponse(true)"><i class="fa fa-ticket"></i> {{'Panel.Yes' | translate}}</button>
          </div>


          <div class="col-md-6 "><button class="btn btn-sm btn-info btn-block" (click)="ConfirmDeleteResponse(false)"><i class="fa fa-ticket"></i> {{'Panel.No' | translate}} </button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Image Gallery----------------------------------------------------------->
<div [ngClass]="{'open':modal_Image_Gallery,'close':!modal_Image_Gallery}">
  <div [ngClass]="{'modal-backdrop':modal_Image_Gallery || !them.isMinSize,'modal-minimize':them.isMinSize}">
    <div [ngClass]="{'open-modal':modal_Image_Gallery || !them.isMinSize,'modal-minimize':them.isMinSize}">
      <div class="modal-title">
        <div class="header-left">

          <button (click)="them.onclickMinSizeModal()" class="btn btn-modal-title" ngbTooltip="{{'Panel.SizeChange' | translate}}"><i class="fa" [ngClass]="{'fa-window-minimize':!them.isMinSize, 'fa-window-maximize':them.isMinSize}"></i></button>
          <button (click)="closeImageGallery()" class="btn btn-modal-title" ngbTooltip="{{'Panel.close' | translate}}"><i class="fa fa-times"> </i></button>
        </div>

        <span>
          {{'Panel.AddImageGallery' | translate}} ({{them.selectedRowID}})
        </span>
      </div>
      <div class="body-modal">
        <form [formGroup]="GalleryForm">
          <div class="row">
            <input type="hidden" value="{{them.selectedRowID}}" name="ProductID" />
            <div class="col-md-4 form-group">
              <input type="hidden" name="ImageUrl" formControlName="ImageUrl" />
              <label class="fileContainer" style="margin-top:28px;">
                <i class="fa fa-file-upload"></i>
                {{'Panel.SelectFile' | translate}}
                <input type="file" class="fileContainer-input" (change)="fileProgressGallery($event.target.files)" />
              </label>

              <img *ngIf="!ImageUpdate.includes('.mp4')" src="{{ImageUpdate}}" style="vertical-align:unset;width:70px;height:70px; margin-right:10px; margin-left:10px;" />

              <video controls *ngIf="ImageUpdate.includes('.mp4')" style="vertical-align:unset;width:70px;height:70px; margin-right:10px; margin-left:10px;">
                <source src="{{ImageUpdate}}" type="video/mp4">
              </video>

            </div>

          </div>


        </form>
        <div class="row">

          <div class="col-md-4" *ngFor="let item of service.ProductImage">
            <div class="card" [ngClass]="{'error-green':item.IsDefault==true}">
              <img class="card-img-top" *ngIf="!(item.Image_Url.includes('.mp4'))" src="{{configUrlBasicImage}}{{item.Image_Url}}" alt="Card image cap">
              <video controls *ngIf="item.Image_Url.includes('.mp4')" class="card-img-top">
                <source src="{{configUrlBasicImage}}{{item.Image_Url}}" type="video/mp4">
              </video>
              <div class="card-body">
                <button class="btn btn-outline-danger btn-block" (click)="DeleteImage(item.ID)" ngbTooltip="{{'Panel.Delete' | translate}}"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!--AddSettings-->
<!--<div [ngClass]="{'open':them.modal_open_settings,'close':!them.modal_open_settings}" class="SettingsForm">


  <div class="card  bg-light mb-3" style="min-width: 300px;">
    <div class="modal-title">
      <div class="header-left">
        <button (click)="them.modal_open_settings=!them.modal_open_settings" class="btn btn-modal-title" ngbTooltip="{{'Panel.close' | translate}}"><i class="fa fa-times"> </i></button>
      </div>
      {{'Panel.AddSettings' | translate}}
    </div>
    <form [formGroup]="SettingsGroupForm">

      <div class="card-body">
        <div class="row">
          <div class="col-md-12 form-group">
            <label>
              {{'Panel.SettingsGroup' | translate}}

            </label>
            <ng-multiselect-dropdown [placeholder]="Select"
                                     [data]="service.Specification"
                                     [(ngModel)]="Specification"
                                     [settings]="dropdownGroupSettings"
                                     (onSelect)="onItemSelectSpecification($event)"
                                     (onSelectAll)="onSelectAll($event)"
                                     formControlName="GroupType">
            </ng-multiselect-dropdown>
            <samp *ngIf="isSubmittedSettings && formControlsGroup.GroupType.errors" class="error-red">{{'Panel.required' | translate}}</samp>
          </div>
          <div class="col-md-12 form-group">
            <label>{{'Panel.Name' | translate}}</label>
            <input type="text" class="form-control" name="Name" formControlName="Name" [ngClass]="{ 'has-error': isSubmittedSettings && formControlsGroup.Name.errors }" />
            <samp *ngIf="isSubmittedSettings && formControlsGroup.Name.errors" class="error-red">{{'Panel.required' | translate}}</samp>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <hr />
            <button type="submit" class="btn btn-dark marg-right" (click)="onInsertSettings()"><i class="fa fa-save"></i>  {{'Panel.Save' | translate}}</button>
            <button class="btn btn-dark marg-right" (click)="them.onResetPage(SettingsGroupForm)"><i class="fa fa-pencil-ruler" aria-hidden="true"></i> {{'Panel.ResetPage' | translate}}</button>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>-->
