<style>
    .backgrond-404 {
        position: relative;
        /*right: 5%;*/
        top: 20%;
        text-align: center;
        font-family: Tahoma;
        background-color: #ebebf0;
        width: 100%;
        height: auto;
        margin-top: 100px;
    }

    @media screen and (min-width: 401px) {
        .font-404 {
            font-size: 300PX;
            color: #2d1870;
            text-shadow: 3px 3px #686871;
            font-weight: 600;
        }

        .font-404-0 {
            font-size: 300PX;
            color: #686871;
            text-shadow: 3px 3px #2d1870;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 400px) {
        .font-404 {
            font-size: 100PX;
            color: #2d1870;
            text-shadow: 3px 3px #686871;
            font-weight: 100;
        }

        .font-404-0 {
            font-size: 100PX;
            color: #686871;
            text-shadow: 3px 3px #2d1870;
            font-weight: 100;
        }
    }

    /*.font-404 {
        font-size: 300PX;
        color: #2d1870;
        text-shadow: 3px 3px #686871;
        font-weight: 600;
    }

    .font-404-0 {
        font-size: 300PX;
        color: #686871;
        text-shadow: 3px 3px #2d1870;
        font-weight: 600;
    }*/

    .font-Description {
        font-size: 20PX;
        color: #808080;
        text-align: center;
    }

    .btn-back {
        border: solid;
        border-color: #686871;
        color: #2d1870;
        margin: 30px;
    }

        .btn-back:hover {
            color: #686871;
        }
</style>
<div class="container center">
    <div class="backgrond-404">
        <span class="font-404">4</span>
        <span class="font-404-0">0</span>
        <span class="font-404">4</span>
        <br />
        <span class="font-Description center">
            Unfortunately, the page was not found
        </span>
        <p>
            <button class="btn btn-back">Back to Home page</button>
        </p>

    </div>


</div>
