.main-search {
  /*background-image: url(../../image/home.jpg);*/
  background-image: url('/assets/image/home.jpg');
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 55px;
}

@media only screen and (max-width: 800px) {
  .main-search {
    height: 100%;
  }
}

.main-search h1 {
  color: white;
}

.search {
  background: transparent;
  z-index: 1;
}
/*.search_container {
    margin-top: -198px;
}*/
.search_title {
  display: inline-block;
  height: 70px;
  background: #adc867;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 23px;
  line-height: 70px;
  padding-right: 26px;
  margin-top: 150px;
}

.pading {
  margin-top: 50px;
}

.card-text {
  font-size: 14px;
}

.pr_detail ul {
  list-style: none;
  line-height: 2;
}

  /*ul li::before {
      content: "✅";
      display: inline-block;
      margin-right: 0.2rem;
    }*/

  .pr_detail ul li::before {
    content: "📌";
    display: inline-block;
  }
.price-div {
  padding: 0px;
  padding: 0px;
  border-right: solid;
  border-width: thin;
  border-color: #e7e5e5;
  text-align:center;
}
.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  top: .8rem;
  width: 1.55rem;
  height: 1.55rem;
}

.checkbox-lg .custom-control-label {
  padding-top: 13px;
  padding-left: 6px;
}


.checkbox-xl .custom-control-label::before, 
.checkbox-xl .custom-control-label::after {
  top: 1.2rem;
  width: 1.85rem;
  height: 1.85rem;
}

.checkbox-xl .custom-control-label {
  padding-top: 23px;
  padding-left: 10px;
}
