

<div class="main-search" [ngStyle]="{'background-image':  'url('+them.BackgroundImageUrl+')'}">



  <!--PageGenerator_7--->

  <div id="PageGenerator_7" class="post-it" [ngStyle]="{'color': them.HeaderFontColor,'background-color':them.HeaderColor}">

  </div>



  <div class="search">
    <div class="container pading">
      <div class="search_title" [ngStyle]="{'color': them.ButtonFontColor,'background-color':them.ButtonColor}">جستجو {{them.ProductGroupNameForFirst}}</div>
      <div class="row">
        <div>
          <div class="search_container">

            <div class="search_form_container">
              <form action="#" class="search_form" id="search_form">
                <!--[ngStyle]="{'color': them.HeaderFontColor,'background-color':them.HeaderColor}"-->
                <div class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">
                  <div class="search_inputs d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start">


                    <div>
                      <div class="display-flex">
                      <input type="text" class="search_input" *ngIf="productService.ParamShowSearch.length > 0" readonly [placeholder]="productService.ParamShowSearch.length > 0 ?productService.ParamShowSearch[0].GroupTypeName:''" (click)="productService.ShowListParam1()" [(ngModel)]="productService.Param1" [ngModelOptions]="{standalone: true}" (keyup)="productService.BasicDataFilter($event)" id="Param1" autocomplete="off">
                      <span class="clear-texbox" id="span1" (click)="productService.ParamClose('span1','Param1')" >&times;</span>
                  </div>
                      <div class="dropdown-search" *ngIf="productService.Param1Show">
                        <option *ngFor="let item of productService.basicDataParam1" [attr.data-id]="item.ID" [attr.data-text]="item.Title" (click)=productService.DataParam1Select(item.ID,item.Title)>
                          {{item.Title}}
                        </option>
                      </div>
                    </div>

                    <div>
                      <div class="display-flex">
                      <input type="text" class="search_input" *ngIf="productService.ParamShowSearch.length > 1" readonly [placeholder]="productService.ParamShowSearch.length > 0 ?productService.ParamShowSearch[1].GroupTypeName:''" (click)="productService.ShowListParam2()" [(ngModel)]="productService.Param2" [ngModelOptions]="{standalone: true}" (keyup)="productService.BasicDataFilter($event)" id="Param2" autocomplete="off">
                      <span class="clear-texbox" id="span2" (click)="productService.ParamClose('span2','Param2')" >&times;</span>
                  </div>
                      <div class="dropdown-search" *ngIf="productService.Param2Show">
                        <option *ngFor="let item of productService.basicDataParam2" [attr.data-id]="item.ID" [attr.data-text]="item.Title" (click)=productService.DataParam2Select(item.ID,item.Title)>
                          {{item.Title}}
                        </option>
                      </div>
                    </div>

                    <div>
                      <div class="display-flex">
                      <input type="text" class="search_input" *ngIf="productService.ParamShowSearch.length > 2" readonly [placeholder]="productService.ParamShowSearch.length > 0 ?productService.ParamShowSearch[2].GroupTypeName:''" (click)="productService.ShowListParam3()" [(ngModel)]="productService.Param3" [ngModelOptions]="{standalone: true}" (keyup)="productService.BasicDataFilter($event)" id="Param3" autocomplete="off">
                      <span class="clear-texbox" id="span3" (click)="productService.ParamClose('span3','Param3')" >&times;</span>
                    </div>
                      <div class="dropdown-search" *ngIf="productService.Param3Show">
                        <option *ngFor="let item of productService.basicDataParam3" [attr.data-id]="item.ID" [attr.data-text]="item.Title" (click)=productService.DataParam3Select(item.ID,item.Title)>
                          {{item.Title}}
                        </option>
                      </div>
                    </div>
                    <div>
                      <div class="display-flex">
                      <input type="text" class="search_input" *ngIf="productService.ParamShowSearch.length > 3" readonly [placeholder]="productService.ParamShowSearch.length > 0 ?productService.ParamShowSearch[3].GroupTypeName:''" (click)="productService.ShowListParam4()" [(ngModel)]="productService.Param4" [ngModelOptions]="{standalone: true}" (keyup)="productService.BasicDataFilter($event)" id="Param4" autocomplete="off">
                      <span class="clear-texbox" id="span4" (click)="productService.ParamClose('span4','Param4')" >&times;</span>
                    </div>
                      <div class="dropdown-search" *ngIf="productService.Param4Show">
                        <option *ngFor="let item of productService.basicDataParam4" [attr.data-id]="item.ID" [attr.data-text]="item.Title" (click)=productService.DataParam4Select(item.ID,item.Title)>
                          {{item.Title}}
                        </option>
                      </div>
                    </div>
                    <div>
                      <div class="display-flex">
                      <input type="text" class="search_input" *ngIf="productService.ParamShowSearch.length > 4" readonly [placeholder]="productService.ParamShowSearch.length > 0 ?productService.ParamShowSearch[4].GroupTypeName:''" (click)="productService.ShowListParam5()" [(ngModel)]="productService.Param5" [ngModelOptions]="{standalone: true}" (keyup)="productService.BasicDataFilter($event)" id="Param5" autocomplete="off">
                      <span class="clear-texbox" id="span5" (click)="productService.ParamClose('span5','Param5')" >&times;</span>
                    </div>
                      <div class="dropdown-search" *ngIf="productService.Param5Show">
                        <option *ngFor="let item of productService.basicDataParam5" [attr.data-id]="item.ID" [attr.data-text]="item.Title" (click)=productService.DataParam5Select(item.ID,item.Title)>
                          {{item.Title}}
                        </option>
                      </div>

                    </div>


                  </div>
                  <button class="search_button" [ngStyle]="{'color': them.ButtonFontColor,'background-color':them.ButtonColor}" id="search_button" (click)="SearchProduct()">{{ 'Search' | translate }} </button>

                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!--جستجو سریع-->
<app-easy-search></app-easy-search>
<div >

<!--محصولات-->
<div class="container">
  <div class="center m-4 ">
    <h4 class="text-center ">{{'Menu.ProductGroup' | translate}}</h4>
    <hr />
  </div>
<!--فیلتر-->

  <div class="card-deck">
    <div class="card bg-light text-dark" *ngFor="let item of productService.CompanyProductGroup">
      <div class="card-body text-center" style="padding-top: 25px;">
        <div sty></div>
        <!--[queryParams]="{ProductGroup:item.ID,basket:0,ProductGroupName:item.Title}"-->
        <a class="product-group" routerLink="/search-result/{{item.ID}}/0/{{item.Title}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <h5>محصولات {{item.Title}}</h5>
        </a>
      </div>
    </div>
    
  </div>

<!--پیشنهادات ویژه-->


<div class="container" *ngIf="productService.Product.length > 0">
  <div class="center m-4 ">
    <h4 class="text-center ">{{'specialOffer' | translate}}</h4>
    <hr />
  </div>
  <div class="row" style="margin-top: 25px;">
      
    <div class="col-md-9 sort-color">
  
    </div>
    <div class="col-md-3" >
      <button style="float: left;" class="btn btn-outline-danger btn-sm m-1" [ngClass]="{'btn-danger':Vertical,'btn-outline-danger':!Vertical}" id="Vertical" (click)="Vertical=!Vertical">{{'Vertical' | translate}}</button>
      <button style="float: left;" class="btn btn-outline-danger btn-sm m-1" [ngClass]="{'btn-danger':!Vertical,'btn-outline-danger':Vertical}" id="Horizontal" (click)="Vertical=!Vertical">{{'Horizontal' | translate}}</button>
    </div>
  
  </div>
  <app-product-list-small [products]="productService.Product" [IsHomePage]="true" *ngIf="!Vertical"></app-product-list-small>
  <app-product-list-large [products]="productService.Product" [IsHomePage]="true" *ngIf="Vertical"></app-product-list-large>

  </div>
</div>

</div>
<!--جدید ترین محصولات-->
<div  id="doit">
  
<div  *ngIf="ProductNew.length > 0">
  <div class="container">
    <div class="center ">
      <h4 class="text-center ">{{'Newproducs' | translate}}</h4>
      <hr />
    </div>


    <div class="row new-product">
      <div class="col-md-6 float-right" style="padding:0px; margin:0px">
        <button class="left  btn btn-outline-info" (click)="scrollLeft(list)"
                data-slide="prev">
          <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i> {{'Back' | translate}}
        </button>
      </div>
      <div class="col-md-6 " style="padding:0px; margin:0px">
        <button class="right  btn float-left btn-outline-info" (click)="scrollRight(list)"
                data-slide="next">
          <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>  {{'Previous' | translate}}
        </button>
      </div>

    </div>
    <div class="horizontal-scroll outer" #list>


      <div class="col-md-4 " *ngFor="let item of ProductNew" id="F{{item.ID}}">
        <div class="col-item">
          <div class="info">
            <div class="row">
              <div class="price col-md-12">
                <h6>{{item.Name}}</h6>

              </div>
              <div class="col-md-6">
                <h6 class="price-text-color" [ngClass]="{'discountPrice':item.DiscountPrice>0}">{{item.PriceSales | number:'4.0-0'}}  {{item.CourrencyName}}</h6>
                <h6 class="price-text-color" *ngIf="item.DiscountPrice>0">{{item.PriceSales-item.DiscountPrice | number:'4.0-0'}} {{item.CourrencyName}}</h6>
              </div>
              <div class="col-md-6">
                <div class="rating">
                  <i class="price-text-color fa fa-star" *ngIf="item.Grad>=1"></i>
                  <i class="price-text-color fa fa-star" *ngIf="item.Grad>=2"></i>
                  <i class="price-text-color fa fa-star" *ngIf="item.Grad>=3"></i>
                  <i class="price-text-color fa fa-star" *ngIf="item.Grad>=4"></i>
                  <i class="price-text-color fa fa-star" *ngIf="item.Grad>=5"></i>
                  <p class="vc" *ngIf="item.DiscountPrice>0">{{'Discount' | translate}} %{{item.OffPercent}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="photo product-content">
            <!--Image-->
            <video controls *ngIf="item.Image_Url.includes('.mp4')" class="image-list" poster="{{item.DefaultImageVideo}}">
              <source src="{{them.configUrlBasicImage}}{{item.Image_Url}}" type="video/mp4">
            </video>
            <img *ngIf="!item.Image_Url.includes('.mp4')" src="{{them.configUrlBasicImage}}{{item.Image_Url}}" alt="{{item.Name}}" class="img-responsive image-list product-image" >
            <a [href]="onProductDetail(item.ID,'F')">
              <img *ngIf="item.AvailableCount==0" src="/assets/image/Sold.png" class="Sold"  />
            </a>
            
            <span class="Barcode" *ngIf="item.AvailableCount!=0">
                
              {{item.BarCode}}
            </span>
          </div>
          <div class="info">
            <div class="separator clear-left">

              <p class="btn-add">
                <button class="btn_offer" [ngStyle]="{'color': them.ButtonFontColor,'background-color':them.ButtonColor}" (click)="onSelectProductOrder(item.ID, item.ProductGroupID ,item.ProductGroup_Title,11)" *ngIf="item.IsAvailable==true"><i class="fa fa-shopping-cart"></i> {{'Add' | translate}}</button>
                <button class="btn_offer" disabled="disabled" [ngStyle]="{'color': them.ButtonFontColor,'background-color':them.ButtonColor}"  *ngIf="item.IsAvailable==false"> {{'NotAvailable' | translate}}</button>
              </p>
              <p >
                <a class="btn-details btn_price" [ngStyle]="{'color': them.PriceFontColor,'background-color':them.PriceColor}"   [href]="onProductDetail(item.ID,'F')"  > <i class="fa fa-list"></i> {{'MoreDeails' | translate}} </a>
              </p>
            </div>
            <div class="clearfix">
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>

</div>
<!--PageGenerator_1--->
<div class="container" style="margin-top:50px;">
  <div id="PageGenerator_1">

  </div>
</div>







